body{
    /* background-image:#0F172A; */
    background-color: aqua;
    color:black;
    font-family:Arial, sans-serif;
}
.top-bar{
    /* background-image:linear-gradient(90deg, #1CB5E0 0%, #000851 100%) ;
    color:black; */
    background-color:rgb(32, 30, 30);
    color:white;
    border-radius:5px;
    padding:10px 10px 10px 10px;
    /* position:fixed;
    top:0; */
    width:95%;
    margin-left: 0%;
    left: 2px;
    right:2px;
}
.top-bar-btn{
    position:fixed;
    right:2px;
    top:10px;
    background-color:transparent;
    border:none;
    font-size:25px;
    color:black;
}
.create-1{
    /* background-image:linear-gradient(90deg, #16cb22 0%, #92FE9D 100%);
    color:black; */
    background-color:rgb(36, 40, 40);
    color:white;
    margin-top:25%;
    width:85%;
    font-family:Arial, sans-serif;
    border-radius:5px;
    padding:20px 20px 20px 20px;
}
input{
    background-color: #292929;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}
button{
    /* background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    background-color:white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
.past-chat{
    margin-top:30%;
    width:90%;
    text-align: center;
    background-color: #292929;
    border-radius: 5px;
    color: white;
    font-family:Arial, sans-serif;
    padding: 20px 20px 20px 20px;

}





